# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
Test-Results/

# Production
dist/
output.css

# Misc
.DS_Store
*.local
logs/
*.png
*.log
.package-lock.json

# Vite
.vite/

# Local env files
.env*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Remaining questions.txt
